# Files
*.egg-info
*.pyc
*.tmp_profiler_run
.vscode
html

# Folders
.ipynb_checkpoints
__pycache__
dist
build
.tox
scratch
env
test/.coverage
test/htmlcov

# Examples output
examples/example_hvsr_figure_az.png
examples/example_hvsr_spatial.png
examples/example_output_geopsy.hv
examples/example_output_hvsrpy.hv
examples/example_output_hvsrpy_az.hv
